<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<body>
    <header>
        <h1>Login</h1>
    </header>
    <form>
        <label for="Login">Login:</label>
        <input type="text" id="Login" name="Login" required>
        
        <label for="Senha">Senha:</label>
        <input type="text" id="Senha" name="Senha" required>
        
        
        
        
        
        <label for="moradorOuSindico">Você é:</label>
        <div class="radio-container">
            <label for="morador">Morador</label>
            <input type="radio" id="morador" name="moradorOuSindico" value="Morador">
            <label for="sindico">Síndico</label>
            <input type="radio" id="sindico" name="moradorOuSindico" value="Síndico">
        </div>
        
        <div class="button-container">
            <button type="submit">Entrar</button>
        </div>
    </form>
    <footer>
        &copy; 2023 Login
    </footer>
</body>
</html>





<!DOCTYPE html>
<html>




