@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div class="text-center">
        <h1 class="display-4">Seja Bem vindo, Arpagen!</h1>
        <h4>Sua empresa de Gestão de Condomínios</h4>
    </div>
</div>




 